@import "./varStyles.css";

.btn {
  display: inline-block;
  height: 1vw;
  width: 8vw;
  padding: 1vw 0 2vw 0;

  font-size: 0.7vw;
  font-optical-sizing: auto;
  font-weight: bold;
  border-radius: 0.5vw;

  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.btn-input {
  border: .2vw solid var(--color-blue);
  background-color: var(--color-white);
  transition: all 1s ease;
}

.btn-output {
  border: 2px solid var(--color-morado);
  background-color: var(--color-white);
}

.btn-change {
  width: 7vw;
  padding: 0.2vw 0.5vw;
  border-radius: 0.3vw;

  position: absolute;
  bottom: 1vw;
  right: 1vw;

  text-align: center;
  font-size: 0.9vw;
  font-weight: bold;

  border: 2px solid var(--color-morado);
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-clear{
  background-color: var(--color-red);
  border: .2vw solid var(--color-border-red);
  color: var(--color-white);
}

.btn-sumar, .btn-identidad, .btn-trasponer, .btn-multiplicar,.btn-restar, .btn-inversa, .btn-determinante, .btn-escalar{
  background-color: var(--color-white);
  color: var(--color-morado);
  border-color: var(--color-border-morado);
}

.btn-clear:hover{
  background-color: var(--color-white);
  border: .2vw solid var(--color-border-red);
  color: var(--color-red);
}

.btn-calc:hover{
  background-color: var(--color-yellow);
  border: 2px solid var(--color-border-yellow);
  color: var(--color-white);
}

.btn-change:hover {
  border-color: var(--color-white);
  color: var(--color-morado);
  transition: all 0.5s ease-in-out;
}

.btn-identidad:hover, .btn-sumar:hover,.btn-restar:hover, .btn-multiplicar:hover, .btn-escalar:hover{
  background-color: var(--color-yellow);
  color: var(--color-white);
  border-color: var(--color-border-yellow);
}

.btn-trasponer:hover, .btn-inversa:hover, .btn-determinante:hover {
  color: var(--color-white);
  border-color: var(--color-border-green);
  background-color: var(--color-green);
}

