.btn {
  display: inline-block;
  height: 1vw;
  width: 7vw;
  padding: 1vw 0 2vw 0;

  font-size: 0.7vw;
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: bold;

  transition: all 1s ease;
}

.btn-input {
  border: 2px solid var(--color-blue);
  border-radius: 0.5vw;
  background-color: var(--color-white);

  transition: all 1s ease;
}

.btn-input:hover {
  background-color: var(--color-blue);
  border: 2px solid var(--color-white);
  color: var(--color-white);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
