@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "./varStyles.css";
@import "./btnStyles.css";
@import "./inputStyles.css";
@import "./containerStyles.css";
@import "./matrizStyles.css";
@import "./titlesStyle.css";
@import "./keyframes.css";


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper {
  display: flex;
}

.text-white {
  color: var(--color-white);
}




