.title {
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto Mono", serif;
    font-weight: bold;
  }

.title-matriz{
    text-align: center;
    font-size: 1.2rem;
    font-family: "Roboto Mono", serif;
    font-weight: bold;
  
    position: absolute;
    top: 5%;
    left: 40%;
}  
  
.title-matriz-r {
    text-align: center;
    font-size: 1.2rem;
    font-family: "Roboto Mono", serif;
    font-weight: bold;
  
    width: 11vw;
    position: absolute;
    top: 5%;
    left: 27%;
  }