.title {
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
  }

.title-matriz{
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
  
    position: absolute;
    top: 5%;
    left: 40%;
}  
  
.title-matriz-r {
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
  
    width: 11vw;
    position: absolute;
    top: 5%;
    left: 30%;
  }