:root{
    --color-blue: #283779;
    --color-white: #FFF;
    --color-yellow: #FFB74B;
    --color-black: #000;
    --color-red: #D10257;
    --color-border-red: #93023e;
    --color-border-yellow: #d89c41;
    --color-border-blue: #1d2857;
}